@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.7);
  --btn-color: rgb(161, 85, 85);
  --btn-hover-color: rgba(161, 85, 85,0.7);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.container {
  position: relative;
  background-color: #333;
  height: 100%;
  width: 100%;
}
/* postiion something absolute inside something positioned relative */
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/*overlay.  when using ::before, must use content: '';  */
.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: var(--left-bg-color); */
}

.split.right {
  right: 0;
  background: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2260&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: var(--right-bg-color); */
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}


/* buttons */
.btn {
  position: absolute;
  left: 50%;
  top: 60%;
  /* will put it in the middle */
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--btn-color);
  opacity: 0;
}


/* .btn:hover {
  color: var(--btn-hover-color);
  font-size: 3em;
  transition:  0.5s ease-in-out;
} */


/* hover effects */

/* hover left */
.hover-left .left {
  width: var(--hover-width);
}
.hover-left .left h1{
    top:30%;
    font-size: 5rem;
    transition: var(--speed) ease-in-out;
}

.hover-left .left .btn {
    color: var(--btn-hover-color);
    font-size: 3em;
    transition:  0.5s ease-in-out;
    opacity: 1;
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right h1{
    font-size: 3rem;
    transition: var(--speed) ease-in-out;
}

.hover-left .right .btn {
    color: var(--btn-color);
    font-size: 2em;
    transition:  0.5s ease-in-out;

}


/* hover right */
.hover-right .left {
  width: var(--other-width);
}

.hover-right .right h1{
    top:30%;
    font-size: 5rem;
    transition: var(--speed) ease-in-out;
}

.hover-right .right .btn {
    color: var(--btn-hover-color);
    font-size: 3em;
    transition:  0.5s ease-in-out;
    opacity: 1;
}

.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left h1{
    font-size: 3rem;
    transition: var(--speed) ease-in-out;
}
.hover-right .left .btn {
    color: var(--btn-color);
    font-size: 2em;
    transition:  0.5s ease-in-out;
}


/* media queries */
@media(max-width: 800px){
    h1{
        font-size: 2rem;
    }
    .btn{
        width: 12rem;
        padding: 1.2rem;
    }
}